//Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Quicksand:300,400,500,700&display=swap');
//COLOR
$primary: #3f998c;
$second: #e58e75;
$negro: #202222;
$negro2: #464648;
$blanco: #f3f3f3;
///Degradad
@mixin degradado {
  background: rgba(70, 70, 72, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(70, 70, 72, 1) 0%,
    rgba(32, 34, 34, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(70, 70, 72, 1)),
    color-stop(100%, rgba(32, 34, 34, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(70, 70, 72, 1) 0%,
    rgba(32, 34, 34, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(70, 70, 72, 1) 0%,
    rgba(32, 34, 34, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(70, 70, 72, 1) 0%,
    rgba(32, 34, 34, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(70, 70, 72, 1) 0%,
    rgba(32, 34, 34, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464648', endColorstr='#202222', GradientType=1 );
}
//tansition_hover
@mixin hover_ui($time, $bcolor, $fcolor) {
  transition-property: all;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-duration: $time;
  background: $bcolor;
  color: $fcolor;
}
//BTN
.btnPrimay {
  letter-spacing: 0.5pt;
  font-size: 1.2em;
  font-weight: 300;
  padding: 0.7em 2em;
  border: 2px solid transparent;
  font-weight: 600;
  width: fit-content;
  @include hover_ui(450ms, $primary, $blanco);
  &:hover {
    color: transparent;
    border: 2px solid $primary;
    @include hover_ui(450ms, transparent, lighten($primary, 10));
  }
  &:active {
    border: 2px solid transparent;
    @include hover_ui(450ms, $second, lighten($primary, 50));
  }
  @media only screen and (max-width: 601px) {
    margin-bottom: 1em;
  }
}
