<div id="about" class="contenedor">
  <div class="container">
    <div class="row">
      <div class="col s12 m7">
        <h1>
          La nueva app para acceder
          a una red Wi-Fi en taxis
        </h1>
        <p>
          Los conductores comparten
          sus megas y reciben beneficios…
        </p>
        <h3>
          ¡y tú te conectas gratis!
        </h3>
         <a target="_blank" href="https://play.google.com/store/apps/details?id=mx.wivoy.wivoywificonnect" class="btnPrimay">
          OBTÉN NUESTRA APP
        </a>
      </div>
      <div class="col s12 m4">
        <div class="contenedor-img">
          <img src="./src/static/log.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
