<div class="contenedor" id="banner">
  <div class="gridbanner">
    <div class="items item-1">
      <img src="./src/static/img1.jpg" alt="">
    </div>
    <div class=" items item-2">
      <h2>
        Froma parte
        de esta nueva economía <span>naranaja</span>
        & obten beneficios.
      </h2>
      <p><span>Wivoy</span> más que una app es una plafatorma de economia compartida, donde
        <span></span>todos ganan</span>.</p>
      <ul class="specialmobile">
        <li>
          <div class="box_main ">
            <i class="fas fa-user-friends"></i>
            <div class="box_internal">
              <h3>PASAJEROS</h3>
              <p>Se conecta a internet
                gratis y rapido.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="box_main">
            <i class="fas fa-car-alt"></i>
            <div class="box_internal">
              <h3>CONDUCTORES</h3>
              <p>Reciben pago mensual
                por sus megas.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="box_main">
            <i class="fas fa-store-alt"></i>
            <div class="box_internal">
              <h3>NEGOCIOS LOCALES</h3>
              <p>Se anuncian con
                publicidad focalizada.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    {{!--  --}}
    <div class="cards item-3">
      <div class="box">
        <h3>Pasajeros</h3>
        <div class="hr_voy"></div>
        <p>Se conecta a internet
          gratis y rapido.</p>
      </div>
    </div>
    <div class="cards item-4">
      <div class="box">
        <h3>Conductores</h3>
        <div class="hr_voy"></div>
        <p>Reciben pago mensual
          por sus megas.</p>
      </div>
    </div>
    <div class="cards item-5">
      <div class="box">
        <h3>Publicitarios</h3>
        <div class="hr_voy"></div>
        <p>Se anuncian con
          publicidad focalizada.</p>
      </div>
    </div>
    {{!--  --}}
  </div>
</div>

<div class="imgMobile" style="background: url(./src/static/img2.jpeg);">

</div>