<div id="footer" class="contenedor">
  <div class="decoradodo"></div>
  <div class="decoradodo rightDecorado"></div>
  <div class="text">
    <p>La red <span>Wi-fi</span> estará disponible muy pronto en los <span>ubers</span> de tu ciudad,
      con tu descarga de app-conéctate aceleramos el proceso de crear la
      primera red <span>Wi-Fi compartida</span> y móvil dentro del transporte público
      en <span>México</span>.</p>
  </div>
</div>
<div class="pie">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <p>Todos los derechos reservados | <span>Wivoy</span></p>
      </div>
      <div class="col s12 m4">
        <div class="social_closter">
          <a target="_blank" href="https://www.facebook.com/Wivoy-294583534340836/">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a target="_blank"
            href="https://www.instagram.com/wivoy_freewifi/?utm_source=ig_profile_share&igshid=1n2z6opkg97xr">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://play.google.com/store/apps/details?id=mx.wivoy.wivoywificonnect" target="_blank">
            <i class="fab fa-google-play"></i>
          </a>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="fo-make">
          Handcrafted with <i class="fas fa-code"></i> by
          <a arget="_blank" href="http://obsidiansoft.io/">
            Obsidian Soft.
          </a>
        </div>
      </div>
    </div>
  </div>
</div>