<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
       <a href="#" class="brand-logo center">Wivoy</a>
      <ul class="right hide-on-med-and-down">
        <li> <a target="_blank" href="https://www.facebook.com/Wivoy-294583534340836/">
            <i class="fab fa-facebook-square"></i>
          </a> </li>
        <li> <a target="_blank"
            href="https://www.instagram.com/wivoy_freewifi/?utm_source=ig_profile_share&igshid=1n2z6opkg97xr">
            <i class="fab fa-instagram"></i>
          </a> </li>
        <li> <a href="https://play.google.com/store/apps/details?id=mx.wivoy.wivoywificonnect" target="_blank">
            <i class="fab fa-google-play"></i>
          </a> </li>

      </ul>
    </div>
  </nav>
</div>
{{!--  --}}
<div class="hero">
  <div class="container">
    <div class="blok">
      <div class="leftHero">
        <div class="contenedorTextos">
          <div class="adorno"></div>
          <h1><span>Wi-Fi <br> Gratis</span></h1>
          <h4>En transporte público</h4>
          <h5>Descarga la app y conectarte <br> a la mayor comunidad de wifi </h5>
        </div>
        <div class="uiScroll">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="rightHero">
        <img src="./src/static/hero.jpeg" alt="">
      </div>
    </div>
  </div>
{{!--  --}}
<div class="auxhero"></div>
{{!--  --}}
</div>