<!DOCTYPE html>
<html lang="es_mx">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wivoy</title>
  <link rel="icon" type="image/png" href="./src/static/16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="./src/static/32.png" sizes="32x32">
  <script src="https://kit.fontawesome.com/ed80bef117.js"></script>
  <meta name="author" content="Wivoy | Obsidian Soft">
  <meta name="description" content="
        La nueva app para acceder a
        una red Wi-Fi en taxis">
  <meta name="keywords" content="red Wi-Fi, conectas gratis, Economía   compartida">
  <meta property="og:title" content="Wivoy">
  <meta property="og:description" content="Los conductores comparten sus    megas y reciben beneficios...
      ¡y tú te conectas gratis!">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">
  <meta property="og:locale" content="es_MX">
  <meta property="og:type" content="website">
  <meta name="twitter:site" content="@">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body id="bodyClassMain">
  {{> partials/hero }}
  {{!--  --}}
  {{> partials/about }}
  {{!--  --}}
  {{> partials/banner }}
  {{!--  --}}
  {{> partials/scroll }}
  {{!--  --}}
  {{> partials/footer }}
  {{!--  --}}
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <div class="chatFloat">
    <div class="chatFacebook">
      <a href="https://www.messenger.com/t/294583534340836" target="_blank">
        <i class="fab fa-facebook-messenger"></i>
      </a>
    </div>
  </div>
</body>

</html>